* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.sidebar {
    position: absolute;
    width: 350px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    transform: translateX(100%);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.shown {
    transform: translateX(0);
}

.title {
    margin-bottom: 12px;
    padding: 16px 24px;
    border-bottom: 1px solid #e8eaed;
}

.title h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.route {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-bottom: 4px;
}

.route h1 {
    font-size: 1.05rem;
    font-weight: 400;
}

.route h2 {
    font-size: 0.95rem;
    font-weight: 400;
    color: #242424;
    text-align: right;
    margin-bottom: 4px;
}

.route span {
    font-size: 0.8rem;
    color: #898989;
}

.times {
    margin-left: 16px;
}

.times span {
    display: block;
    font-size: 0.9rem;
    text-align: right;
    color: #666666;
}

.direction {
    margin-bottom: 12px;
}

#map {
    height: 100vh;
}
