@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    top: 0;
    right: -350px;
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;
    transition: right 0.5s, box-shadow 2s;
}

.shown {
    right: 0;
    box-shadow: 0 0 10px #b8b8b8;
    transition: right 0.5s, box-shadow 0.5s;
}

.predictions {
    padding-top: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.predictions::-webkit-scrollbar {
    display: none;
}

.title {
    padding: 16px 24px;
    border-bottom: 1px solid #e8eaed;
}

.title h1 {
    font-family: Raleway, Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.title span {
    font-size: 0.9rem;
    color: #898989;
}

.route {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-bottom: 4px;
}

.route h1 {
    font-size: 1.05rem;
    font-weight: 400;
}

.route h2 {
    font-size: 0.95rem;
    font-weight: 400;
    color: #242424;
    text-align: right;
    margin-bottom: 4px;
}

.times {
    margin-left: 16px;
}

.times span {
    display: block;
    font-size: 0.9rem;
    text-align: right;
    color: #666666;
}

.direction {
    margin-bottom: 12px;
}

html, body, #root, .app, .sidebar, .navigator, .map {
    height: 100%;
}

.map {
    width: 100%;
    background-color: #f1f3f4;
}

@media only screen and (max-device-width: 600px) {
    .sidebar {
        width: 100%;
        height: 300px;
        top: auto;
        right: auto;
        bottom: -300px;
        transition: bottom 0.5s;
    }

    .shown {
        bottom: 0;
    }
}
